body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c5d8d0;
}

.navbar {
    background-color: #3f7065;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
}

.products, .product {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
}

footer {
    background-color: #3f7065;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

image{
    width: auto;
    height: auto;
}

